.box {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: flex-end;
    padding-bottom: 15px;
    padding-left: 15px;
    color: #fff;
}
